.o_report_etax_header {
    color: black;
    font-size: 12pt;
    font-style: normal;
    font-family: serif;
    }

.page {
        thead {
            color: black;
            }
        tbody tr {
            color: black;
            }
        tfoot {
            color: black;
            }
    }

.o_report_etax_footer {
    color: black;
    font-size: 12pt;
    font-weight: 100;
    font-family: sans-serif;
    }
